# fly.toml app configuration file generated for memolink-server on 2025-10-15T19:29:57+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'memolink-server'
primary_region = 'sin'

[build]


[env]
  PORT = "5001"

[http_service]
  internal_port = 5001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
